.ChannelSidebar {
    color: #8e9287;
    user-select: none;
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

.UserInfo {
    background: #23272A;
    display: flex;
    padding: 10px;
}

.DiscordLogo {
    width: 3vmin;
    height: 3vmin;
}

.DiscordLogoContainer {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChannelMainSection {
    background: #2f3136;
    padding: 10px 10px;
    flex: 1;
}

.UserInfoUsername {
    flex: 1;
}

.UserInfoSettings {
    cursor: pointer;
}
