.ChannelSidebar {
    background: #2f3136;
    color: #8e9287;
    padding: 10px 10px;
    user-select: none;
}

.ServerSettingsHeader {
    display: flex;
    justify-content: space-between;
}

.ServerSettingsButton {
    cursor: pointer;
}
