.ChannelSidebar {
    background: #2f3136;
    color: #8e9287;
    padding: 10px 10px;
    user-select: none;
}

.ChannelsHeader {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.CreateChannelButton {
    cursor: pointer;
}
