.ServerSidebar {
    background: #202225;
    color: #dcddde;
}

.ServerItem {
    display: flex;
    margin: 10px 5px;
    border-radius: 50%;
    background-color: #36393f;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}
