.ChannelItem {
    display: flex;
    justify-content: space-between;
}

.ChannelText, .ChannelDeleteButton {
    cursor: pointer;
}

.ChannelText {
    flex: 1;
}

.ChannelDeleteButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CurrentChannel {
    color: #ffffff;
}

.DeleteChannelModalButtons {
    display: flex;
    justify-content: flex-end;
}
