.SubmitContainer {
    display: flex;
    justify-content: flex-end;
}

.CredentialsFormItem {
    display: flex;
    padding: 10px 0;
}

.CredentialsFormItem > * {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
}

.CredentialsFormLabel {
    padding-right: 10px;
}

.CredentialsFormErrors {
    display: flex;
    justify-content: flex-end;
    color: red;
}



